In [6]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

In [19]:
pd.set_option('display.max_columns', 35)

In [20]:
students = pd.read_csv('../data/Students/student-mat.csv')
students.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [21]:
students_por = pd.read_csv('../data/Students/student-por.csv')
students_por.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [11]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

** famsize ** : GT3 (Greater than 3) LE3 (Less Equal 3)
** Pstatus ** : (?
** Medu ** : Mother Education
** Fedu ** : Father Education
** Mjob ** : Mother Job
** Fjob ** : Father Job

In [9]:
print(students.shape)

(395, 33)

In [10]:
print(students_por.shape)

(649, 33)

In [7]:
students = students.append(students_por, verify_integrity=False)

In [8]:
students["final"] = students['G1'] + students['G2'] + students['G3']

In [9]:
students.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,final
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,17
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,16
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,25
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,44
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,26

In [10]:
students["promedio"] = students["final"] / 3

In [11]:
students.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,final,promedio
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,17,5.666667
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,16,5.333333
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,25,8.333333
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,44,14.666667
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,26,8.666667

In [16]:
students12_14 = students[students['promedio']>=12]
students12_14 = students12_14[students12_14['promedio']<=14]
students12_14.shape

(261, 35)

In [17]:
students10_12 = students[students['promedio']>=10]
students10_12 = students10_12[students10_12['promedio']<=12]
students10_12.shape

(304, 35)

In [22]:
students[students['famsize']=="GT3"].shape

(281, 33)

In [23]:
students[students['famsize']=="LE3"].shape

(114, 33)

In [24]:
students_por[students_por['famsize']=="GT3"].shape

(457, 33)

In [25]:
students_por[students_por['famsize']=="LE3"].shape

(192, 33)

In [26]:
students.groupby('famsize').size()

famsize
GT3    281
LE3    114
dtype: int64

In [27]:
students_por.groupby('famsize').size()

famsize
GT3    457
LE3    192
dtype: int64

In [30]:
students.groupby('address').size()

address
R     88
U    307
dtype: int64

In [29]:
students_por.groupby('address').size()

address
R    197
U    452
dtype: int64

In [31]:
students.groupby('address')["absences"].mean()

address
R    6.125000
U    5.589577
Name: absences, dtype: float64

In [32]:
students_por.groupby('address')["absences"].mean()

address
R    3.142132
U    3.884956
Name: absences, dtype: float64

In [33]:
students.groupby('address')["G1", "G2", "G3"].mean()

                G1         G2         G3
address
R        10.477273   9.829545   9.511364
U        11.032573  10.967427  10.674267

In [34]:
students_por.groupby('address')["G1", "G2", "G3"].mean()

                G1         G2         G3
address
R        10.746193  10.888325  11.086294
U        11.683628  11.867257  12.263274

In [43]:
M_atHome = students[students["Mjob"] == "at_home"]
F_atHome = students[students["Fjob"] == "at_home"]
MF_atHome = F_atHome[F_atHome["Mjob"] == "at_home"]

In [44]:
MF_atHome.groupby("Mjob")["G1", "G2", "G3"].mean()

                G1         G2         G3
Mjob
at_home  13.857143  13.428571  12.285714

In [45]:
M_atHome.groupby("Mjob")["G1", "G2", "G3"].mean()

                G1        G2        G3
Mjob
at_home  10.457627  9.677966  9.152542

In [47]:
F_atHome.groupby("Fjob")["G1", "G2", "G3"].mean()

           G1    G2     G3
Fjob
at_home  11.7  10.6  10.15