In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

In [14]:
ufo_prueba = pd.read_csv('../data/UFO/scrubbed.csv')
ufo_prueba.head(5)

C:\Users\german.shokida\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [15]:
ufo_shape = ufo_prueba["shape"]
ufo_shape.value_counts()

light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
hexagon          1
changed          1
flare            1
pyramid          1
dome             1
Name: shape, dtype: int64

In [4]:
ufo_prueba.isnull().any()

datetime                False
city                    False
state                    True
country                  True
shape                    True
duration (seconds)      False
duration (hours/min)    False
comments                 True
date posted             False
latitude                False
longitude               False
dtype: bool

In [16]:
ufo_us = ufo_prueba[ufo_prueba["country"] == "us"]
ufo_2000 = ufo_us[ufo_us['datetime'].str.contains("2000", na=False)]
print(ufo_2000.shape)

(2184, 11)

In [6]:
ufo_prueba["duration"] = pd.to_numeric(ufo_prueba['duration (seconds)'], errors='coerce', downcast='float')
ufo_prueba.sort_values('duration').head(25)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration
4081,10/23/2008 04:45,remote,wy,NaN,flash,0.001,0.001sec,brilliant strobe light at 4am&#44 moving light...,1/10/2009,-46.163992,169.875050,0.001
70587,8/30/2002 13:45,kerry (republic of ireland),NaN,NaN,sphere,0.01,0.01secs,The object seemed to move at lightining speed,9/13/2002,52.1545,-9.566863,0.010
42378,5/15/1987 23:00,island lake,il,us,light,0.01,milliseconds,4 red laser like lines,1/12/2012,42.2761111,-88.191944,0.010
70393,8/29/2002 23:45,toledo,or,us,triangle,0.01,millisecond,The object I saw was very clear and moved at ...,9/6/2002,44.6217,-123.937222,0.010
52996,6/30/2002 03:15,helsinki (finland),NaN,NaN,unknown,0.01,0.01sec,Overpassing UFO,7/1/2002,60.173324,24.941025,0.010
23754,12/9/1999 18:15,lyle,wa,us,fireball,0.01,millisecond,Incredible...full moon sized bright orange fir...,12/16/1999,45.6961111,-121.285000,0.010
56596,7/15/1974 22:00,bridgeview,il,us,triangle,0.01,milliseconds,Triangular streak SW to NE horizon to horizon ...,1/17/2004,41.7500000,-87.804167,0.010
13375,11/28/2001 03:41,milwaukie,or,us,fireball,0.02,0.02 sec,High speed moving fireball fallow by a bright ...,12/5/2001,45.4463889,-122.638056,0.020
67354,8/17/2013 24:00,abbotsford (canada),bc,ca,diamond,0.02,.02 seconds,Maybe 60&#39 from deck Camera&#44left to right...,9/9/2013,45.4333,-72.883333,0.020
42057,5/13/2003 22:00,grove,oh,NaN,unknown,0.05,.05 sec,bright flaring star,5/27/2003,41.158607,-81.226990,0.050
18735,12/17/2011 18:40,springhill,fl,NaN,flash,0.05,.05 second,We saw a flash of light while observing a plan...,1/12/2012,28.483168,-82.536987,0.050
2038,10/15/2001 20:22,port orchard,wa,us,circle,0.05,.05 seconds,Large blue circular object observed falling at...,11/20/2001,47.5405556,-122.635000,0.050
78381,9/29/1999 14:30,warnambool&#44 vic (australia),NaN,NaN,unknown,0.05,0.05 seconds,It was very quick. We have a picture of it.,11/2/1999,-38.3828,142.484499,0.050
21258,12/29/2012 19:30,asheboro,nc,us,light,0.05,.05 seconds,Single bluish white downward arc of fast movin...,2/4/2013,35.7077778,-79.813889,0.050
7378,10/9/2012 23:30,woodbourne,ny,us,other,0.05,.05 seconds,A basket -shaped object&#44 intense orange at ...,10/30/2012,41.7597222,-74.594444,0.050
13366,11/28/2000 02:14,eugene,or,us,circle,0.08,.08 sec.,Brilliant White light seen traveling N to S al...,12/2/2000,44.0522222,-123.085556,0.080
7262,10/9/2005 20:08,vancouver,wa,us,light,0.08,~.08 seconds,Yellowish&#44 orange object travelling much fa...,10/11/2005,45.6388889,-122.660278,0.080
7920,11/11/2001 19:00,mogote,co,us,NaN,0.1,.10 sec,When returing from hunting elk seen a green bl...,11/20/2001,37.0594444,-106.091667,0.100
18891,12/18/2012 13:00,atascadero (101 freeway),ca,us,circle,0.1,0.1 seconds,Blue almost electrical circle of blue light c...,12/20/2012,35.4894444,-120.669722,0.100
32487,3/20/1999 16:00,macon,ga,us,egg,0.1,.1 second,While videoing trees and sides of house object...,9/28/2002,32.8405556,-83.632500,0.100
1659,10/14/2011 21:20,holbrook,az,us,other,0.1,.10 seconds,This fast moving craft was low flying and not ...,12/12/2011,34.9022222,-110.157500,0.100
18958,12/19/2003 14:30,hot springs,ar,us,other,0.2,:00.20 sec.,THE OBJECT WAS LONG LIKE A AIRPLAIN &#44 BUT H...,1/17/2004,34.5036111,-93.055000,0.200
13651,11/29/2004 22:15,irvine,ca,us,unknown,0.2,.2 sec,the object emitted sparks from the side and re...,12/14/2004,33.6694444,-117.822222,0.200
45946,5/6/2009 21:36,federal way,wa,us,NaN,0.2,200 ms,Pinkish white light moved *VERY RAPIDLY* acros...,5/12/2009,47.3225000,-122.311389,0.200
60309,7/28/1997 13:00,washington&#44 d.c.,dc,NaN,other,0.23,.23 secs,While on vacation in Washington&#44 DC&#44 sta...,9/6/2002,38.907231,-77.036464,0.230

In [7]:
ufo_prueba.groupby('country').size().sort_values(ascending=False)

country
us    65114
ca     3000
gb     1905
au      538
de      105
dtype: int64

In [8]:
ufo_us.groupby('state').size().sort_values(ascending=False)

state
ca    8912
wa    3966
fl    3835
tx    3447
ny    2980
il    2499
az    2414
pa    2366
oh    2275
mi    1836
or    1747
nc    1740
mo    1458
co    1413
in    1288
va    1273
ma    1256
nj    1255
ga    1255
wi    1232
tn    1119
mn    1012
sc    1003
ct     892
ky     855
md     837
nv     803
ok     724
nm     720
ia     678
al     642
ut     622
ks     613
ar     588
me     558
la     558
id     521
nh     486
mt     478
wv     448
ne     381
ms     375
ak     319
hi     262
vt     260
ri     228
sd     183
wy     175
de     166
nd     129
pr      25
dc       7
dtype: int64

In [9]:
ufo_us.shape

(65114, 11)

In [10]:
ufo_prueba.shape

(80332, 12)

In [11]:
ufo_Montana = ufo_us[ufo_us["state"] == "mt"]

In [12]:
ufo_Montana.groupby('shape').size().sort_values(ascending=False)

shape
light        109
fireball      54
unknown       44
triangle      37
circle        32
oval          28
disk          26
sphere        25
other         24
formation     15
flash         11
changing      11
diamond       10
cigar          9
chevron        8
egg            4
rectangle      4
teardrop       3
cylinder       3
cross          2
cone           1
dtype: int64

In [13]:
ufo_prueba.sort_values('duration').head(3)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,duration
4081,10/23/2008 04:45,remote,wy,NaN,flash,0.001,0.001sec,brilliant strobe light at 4am&#44 moving light...,1/10/2009,-46.163992,169.875050,0.001
70587,8/30/2002 13:45,kerry (republic of ireland),NaN,NaN,sphere,0.01,0.01secs,The object seemed to move at lightining speed,9/13/2002,52.1545,-9.566863,0.010
42378,5/15/1987 23:00,island lake,il,us,light,0.01,milliseconds,4 red laser like lines,1/12/2012,42.2761111,-88.191944,0.010

In [17]:
ufo_Washington = ufo_us[ufo_us["state"] == "wa"]
ufo_Washington.groupby('shape').size().sort_values(ascending=False)

shape
light        871
fireball     355
triangle     340
circle       326
unknown      285
sphere       267
other        261
disk         189
oval         177
formation    120
changing      87
flash         74
cigar         63
rectangle     58
cylinder      51
diamond       49
chevron       44
egg           37
teardrop      29
cone          17
cross          7
delta          1
dtype: int64

In [18]:
ufo_original = pd.read_csv('../data/UFO/complete.csv')
ufo_original.head(5)

CParserError: Error tokenizing data. C error: Expected 11 fields in line 878, saw 12